.cart-icon {
  width: 45px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width:560px){
        width: 100vw;
    }

  .shopping-icon {
    width: auto;
    height: 70%;
    margin-bottom: 10px;

    @media screen and (max-width:800px){
        height: 100%;
    }
    @media screen and (max-width:800px){
        height: 40px;
    }
  }

  .item-count {
    position: absolute;
    font-size: 1.0em;
    font-weight: bold;
    bottom: 30%;
  }
}
