.sign-up{
    display:flex;
    flex-direction: column;
    width: 30vw;

    @media screen and (max-width: 800px) {
        width: 45vw;
    }
    @media screen and (max-width: 660px) {
        width: 92vw;
        align-items: center;
    }

    .title{
        margin: 10px 0;
    }
}